/* JUMBO */
.jumbo {
  background-image: url("../img/jumbo/jumbo-nosotros.jpg");
}
.jumbo--height {
  height: 40vh;
}
/* JUMBO */
/* GALERIA */
h2 {
  margin: 16px auto;
  font-weight: 400;
}
.galery__card h4 {
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(150, 148, 148);
}

/* GALERIA */

/* TABLETS */
@media (min-width: 768px) and (orientation: portrait) {
}
/* TABLETS */

/* PANTALLAS GRANDES */
@media (min-width: 1024px) {
}
/* PANTALLAS GRANDES */
