* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  max-width: 2048px;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}
ul {
  list-style: none;
}
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}
img,
svg {
  vertical-align: middle;
}
/* TITULOS Y PARRAFOS */
.title__h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.title__h2 {
  font-size: 3.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.title__h3 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease;
}
.title__h4 {
  font-size: 11rem;
  font-weight: 400;
  letter-spacing: 10px;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}
.title__h4--lh {
  line-height: 0.8;
}
.title__h5 {
  font-size: 30rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(126, 126, 238, 1) 0%,
    rgba(82, 6, 157, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: -15px;
  text-align: center;
}
.title__h6 {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #919192;
  font-family: "Poppins", sans-serif;
}
.parragraf {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: rgb(85, 84, 84);
}
/* TITULOS Y PARRAFOS */

/* MARGENES */
.mgt-60 {
  margin-top: 60px;
}
.mgb-60 {
  margin-bottom: 60px;
}
.mgt-30 {
  margin-top: 30px;
}
.mgb-30 {
  margin-bottom: 30px;
}
/* MARGENES */

/* PADDING */

/* PADDING */

/* HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 80px;
}
/* HEADER */

/* NAVBAR */
.navbar {
  height: 100%;
}
.navbar--color {
  background-color: white;
}
.navbar img {
  width: 200px;
}
.navbar .navbar-button {
  font-size: 3rem;
  background-color: transparent;
  border: 0;
  padding: 0 10px;
  transition: all 0.6s ease;
}
.navbar .navbar-button:hover {
  color: rgb(62, 65, 219);
}
.navbar-collapse {
  margin-top: 3.4vh;
}
.navbar .nav-item {
  font-size: 1.6rem;
  padding-left: 10px;
}
.navbar .nav-item:hover a {
  color: rgb(62, 65, 219);
  font-weight: bold;
}
/* NAVBAR */

/* JUMBO */
.jumbo {
  width: 100%;
  height: 60vh;
  background-image: url("../img/jumbo/jumbo-index.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbo__cont {
  width: 100%;
}
/* JUMBO */

/* TARJETAS */
.card__shadow {
  padding: 40px 10px;
  text-align: center;
  box-shadow: 0 0 13px -4px rgb(0 0 0 / 17%);
  transition: all 0.3s ease;
  border: none;
  position: relative;
}
.card__shadow:hover {
  cursor: pointer;
  box-shadow: 0 0 20px -4px rgba(0, 0, 0, 0.3);
}
.card__shadow hr {
  width: 70px;
  margin: 20px auto;
  border-top: 2px solid #757474;
}
.card__shadow__bgIcon {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 50px 30px;
  border-color: transparent transparent #e9eaeb transparent;
  margin: auto;
  transform: rotate(20deg);
  transition: all 0.3s ease;
}
.card__shadow:hover > .card__shadow__bgIcon {
  transform: rotate(0deg);
}
.card__shadow:hover > .title__h3 {
  color: rgb(62, 65, 219);
}
.card__shadow i {
  position: absolute;
  left: 44%;
  top: 50px;
  font-size: 3.4rem;
  margin: auto;
}

.card__team {
}
/* TARJETAS */

/* BOTONES */
.butn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  min-width: 200px;
  padding: 17px 33px 15px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.34;
  border: 2px solid;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #756aee;
  border-color: #756aee;
  transition: all 0.3s;
  z-index: 1;
}
.butn a {
  color: white;
}

.butn::before,
.butn::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.butn-one::before {
  opacity: 0;
  background: rgba(7, 7, 7, 1);
  transform: scale(0.1, 1);
  z-index: -1;
}
.butn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.butn-one:hover::after {
  transform: scale(1, 0.1);
  opacity: 0;
}
/* BOTONES */

/* SERVICES */
.services__img {
  justify-content: center;
}
/* SERVICES */

/* FONDO FIJO */
.backFix {
  height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.--backFix__v1 {
  background-image: url("../img/fondoUno.jpg");
}
/* FONDO FIJO */

/* DATOS */
.dates__text .title__h2 {
  border-left: 3px solid rgb(204, 202, 202);
  padding-left: 20px;
}
.dates__est__item {
  text-align: center;
  width: 80%;
  margin: auto;
}
.dates__est__item--mgrT-30 {
  margin-top: 30px;
}
.dates__est__item--border {
  border-bottom: 1px solid #ccc;
}
/* DATOS */

/* TEAM */

/* TEAM */
