* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  max-width: 2048px;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}
ul {
  list-style: none;
}
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}
img,
svg {
  vertical-align: middle;
}

/* SOLO PORTRAIT */
#landscape {
  display: none;
  z-index: -100;
}
/* SOLO PORTRAIT */
/* TITULOS Y PARRAFOS */
.title__h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.title__h2 {
  font-size: 3.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.title__h3 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease;
}
.title__h4 {
  font-size: 11rem;
  font-weight: 400;
  letter-spacing: 10px;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}
.title__h4--lh {
  line-height: 0.8;
}
.title__h5 {
  font-size: 30rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(126, 126, 238, 1) 0%,
    rgba(82, 6, 157, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: -15px;
  text-align: center;
}
.title__h6 {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #919192;
  font-family: "Poppins", sans-serif;
}
.parragraf {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: rgb(85, 84, 84);
}
/* TITULOS Y PARRAFOS */

/* MARGENES */
.mgt-60 {
  margin-top: 60px;
}
.mgb-60 {
  margin-bottom: 60px;
}
.mgt-30 {
  margin-top: 30px;
}
.mgb-30 {
  margin-bottom: 30px;
}
.row-mb30 > * {
  margin-top: 30px !important;
}
/* MARGENES */

/* PADDING */
.pgt-30 {
  padding-top: 30px;
}
.pgb-30 {
  padding-bottom: 30px;
}
.pgt-60 {
  padding-top: 60px;
}
.pgb-60 {
  padding-bottom: 60px;
}
/* PADDING */

/* HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 80px;
}
/* HEADER */

/* NAVBAR */
.navbar {
  background-color: rgb(253, 251, 251);
  height: 100px;
}
.navbar img {
  width: 200px;
  margin-left: 10px;
}
.navbar button {
  margin-right: 10px;
  font-size: 3rem;
  border: none;
}
.navbar-nav {
  background-color: rgb(252, 250, 250);
  margin-top: 43px;
}
.navbar-nav li {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0;
}
.navbar .navbar-nav li a {
  padding: 15px 15px;
  color: rgb(26, 25, 25);
}
.nav-item .active {
  background-color: #756aee;
  color: white !important;
}
/* .navbar .navbar-button {
  font-size: 3rem;
  background-color: transparent;
  border: 0;
  padding: 0 10px;
  transition: all 0.6s ease;
} */
/* NAVBAR */

/* JUMBO */
.jumbo {
  width: 100%;
  height: 60vh;
  background-image: url("../img/jumbo/jumbo-index.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbo__cont {
  width: 100%;
}
/* JUMBO */

/* TARJETAS */
.card__shadow {
  padding: 40px 10px;
  text-align: center;
  box-shadow: 0 0 13px -4px rgb(0 0 0 / 17%);
  transition: all 0.3s ease;
  border: none;
  position: relative;
  justify-content: center;
  align-items: center;
}

.card__shadow hr {
  width: 70px;
  margin: 20px auto;
  border-top: 2px solid #757474;
}
.card__shadow__bgIcon {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 50px 30px;
  border-color: transparent transparent #e9eaeb transparent;
  margin: auto;
  transform: rotate(20deg);
  transition: all 0.3s ease;
}

.card__shadow i {
  position: absolute;
  left: 44%;
  top: 50px;
  font-size: 3.4rem;
  margin: auto;
}

.card__team {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease;
}
.card__team img {
  filter: grayscale(1);
  transition: all 0.3s ease;
}

.card__team__overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 20px;
  padding: 20px 0 20px 10px;
  color: white;
  overflow: hidden;
  width: 65%;
  transition: all 0.3s ease;
}

.card__team__overlay h4 {
  font-size: 2.2rem;
  font-weight: 700;
  padding-left: 10px;
}
.card__team__overlay p {
  font-size: 1.6rem;
  padding-left: 10px;
  font-weight: 500;
}
/* TARJETAS */

/* BOTONES */
.butn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  min-width: 200px;
  padding: 17px 33px 15px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.34;
  border: 2px solid;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #756aee;
  border-color: #756aee;
  transition: all 0.3s;
  z-index: 10;
}
.butn a {
  color: white;
}

.butn::before,
.butn::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.butn-one::before {
  opacity: 0;
  background: rgba(7, 7, 7, 1);
  transform: scale(0.1, 1);
  z-index: -1;
}
/* BOTONES */

/* SERVICES */
.services__img {
  justify-content: center;
}
/* SERVICES */

/* FONDO FIJO */
.backFix {
  height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.--backFix__v1 {
  background-image: url("../img/fondoUno.jpg");
}
/* FONDO FIJO */

/* DATOS */
.dates__text {
  flex-direction: column;
  justify-content: center;
}
.dates__text .title__h2 {
  border-left: 3px solid rgb(204, 202, 202);
  padding-left: 20px;
}
.dates__est__item {
  text-align: center;
  width: 80%;
  margin: auto;
}
.dates__est__item--mgrT-30 {
  margin-top: 30px;
}

.dates__text .butn {
  width: 50%;
}
.--numOne {
  border-bottom: 1px solid #ccc;
}
.--numTwo {
  border-bottom: 1px solid #ccc;
  padding-top: 30px;
}
.--numTree {
  border-bottom: 1px solid #ccc;
  padding-top: 30px;
}
.--numFour {
  padding-top: 30px;
}
/* DATOS */

/* TEAM */

/* TEAM */

/* FOOTER */
footer {
  background-color: rgb(10 10 10);
  color: white;
}
.footer {
  flex-direction: row;
}
.footer__top {
  background-color: #1a1a1a;
}
.footer__img img {
  width: 240px;
  padding: 0 20px 0px;
}
.footer__top p {
  padding: 0 20px 30px;
}
.footer__item {
  padding: 10px 20px 10px;
  align-items: center;
}
.footer__item h5 {
  color: rgba(126, 126, 238, 1);
  font-size: 1.4rem;
  font-weight: 700;
  padding-right: 20px;
}
.footer__item p {
  font-size: 1.4rem;
  font-weight: 600;
}
.footer__social {
  justify-content: space-around;
  align-items: center;
}
.footer__social a {
  color: white;
  font-size: 3rem;
  transition: all 0.3s ease;
}
.footer__copy p {
  margin-bottom: 0;
}
/* FOOTER */

/* SOLO PORTRAIT */
/* @media (max-width: 767px) and (orientation: landscape) {
  #landscape {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: #f2f2f2;
    z-index: 99;
    width: 100%;
    height: 100vh;
    font-size: 120%;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
  }
  #landscape img {
    width: 80px;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  #landscape {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: #f2f2f2;
    z-index: 99;
    width: 100%;
    height: 100vh;
    font-size: 120%;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
  }
  #landscape img {
    width: 80px;
  }
} */
/* SOLO PORTRAIT */

/* TABLETS */
@media (min-width: 768px) and (orientation: portrait) {
  .card__shadow {
    min-height: 300px;
  }
  .backFix {
    height: 500px;
  }
  .title__h5 {
    font-size: 36rem;
    font-weight: 600;
    color: transparent;
    letter-spacing: -15px;
    text-align: center;
  }
  .--numOne {
    border-right: 1px solid #ccc;
  }
  .--numTwo {
    border-bottom: 1px solid #ccc;
    padding-top: 0px;
  }
  .--numTree {
    border-right: 1px solid #ccc;
    border-bottom: none;
    padding-top: 30px;
  }
  .--numFour {
    padding-top: 30px;
  }
}
/* TABLETS */

/* PANTALLAS GRANDES */
@media (min-width: 1024px) {
  .nav-item .active {
    border-bottom: 3px solid #756aee;
    background-color: transparent;
    color: rgb(26, 25, 25) !important;
  }
  .services {
    margin-bottom: 90px;
  }
  .services .row {
    align-items: center;
  }
  .services .services__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 30px;
  }
  .nav-item:hover a {
    color: #756aee !important;
    background-color: transparent;
  }
  .card__shadow {
    min-height: 300px;
  }
  .backFix {
    height: 600px;
  }
  .dates {
    margin: 90px 0;
  }
  .--numOne {
    border-right: 1px solid #ccc;
  }
  .--numTwo {
    border-bottom: 1px solid #ccc;
    padding-top: 0px;
  }
  .--numTree {
    border-right: 1px solid #ccc;
    border-bottom: none;
    padding-top: 30px;
  }
  .--numFour {
    padding-top: 30px;
  }
  .footer__top .footer__img {
    display: flex;
    justify-content: center;
  }
  .footer__top p {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .footer__inf {
    width: 80%;
  }
  .card__shadow:hover {
    cursor: pointer;
    box-shadow: 0 0 20px -4px rgba(0, 0, 0, 0.3);
  }
  .card__shadow:hover > .card__shadow__bgIcon {
    transform: rotate(0deg);
  }
  .card__shadow:hover > .title__h3 {
    color: rgb(62, 65, 219);
  }
  .card__team:hover > img {
    cursor: pointer;
    filter: grayscale(0);
  }
  .card__team:hover > .card__team__overlay {
    width: 75%;
  }
  .butn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }
  .butn-one:hover::after {
    transform: scale(1, 0.1);
    opacity: 0;
  }
  .footer__social a:hover {
    color: rgba(126, 126, 238, 1);
  }
}
/* PANTALLAS GRANDES */
