/* JUMBO */
.jumbo {
  background-image: url("../img/jumbo/jumbo-nosotros.jpg");
}
.jumbo--height {
  height: 40vh;
}
/* JUMBO */
/* EXPERIENCIA */
.experiencie__img {
  display: flex;
  justify-content: center;
}
.experience .title__h2 {
  color: #d4d4d4;
  font-weight: 500;
}
.experience__skills p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #868585;
}
.experience .progress-bar {
  text-align: right;
  background-color: #756aee;
}
/* EXPERIENCIA */
/* OPINIONES */
.opinions .carousel-item {
  padding: 40px 10px;
}
.opinions .card__shadow {
  padding: 40px 20px;
}
/* OPINIONES */
/* ESTADISTICAS */
.--backFix__v2 {
  background-image: url("../img/bg-counter.jpg");
  height: auto;
}
.statistics .row {
  justify-content: center;
  align-items: center;
}
.statistics h2 {
  font-family: "Poppins", sans-serif;
  font-size: 7rem;
  font-weight: 400;
  margin-top: 20px;
}
.statistics h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.divider {
  border-bottom: 1px solid rgb(202, 198, 198);
}
/* ESTADISTICAS */
/* CUSTOMERS */
.customers .row .col-12 {
  justify-content: center;
}
.customers .customers__item {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}
.customers .customers__item img {
  filter: grayscale(1);
  transition: all 0.3s ease;
}
/* CUSTOMERS */

/* TABLETS */
@media (min-width: 768px) and (orientation: portrait) {
  /* OPINIONES */
  .divider {
    border-bottom: 0;
  }
  /* OPINIONES */
  /* ESTADISTICAS */
  .opinions .card__shadow {
    padding: 40px 60px;
  }
  /* ESTADISTICAS */
}
/* TABLETS */

/* PANTALLAS GRANDES */
@media (min-width: 1024px) {
  /* OPINIONES */
  .opinions .card__shadow {
    padding: 40px 100px;
  }
  /* OPINIONES */
  /* ESTADISTICAS */
  .statistics .row {
    align-items: center;
    height: 300px;
  }
  .statistics .divider {
    border-bottom: 0;
  }

  /* ESTADISTICAS */
}
/* PANTALLAS GRANDES */
