/* JUMBO */
.jumbo {
  background-image: url("../img/jumbo/jumbo-nosotros.jpg");
}
.jumbo--height {
  height: 40vh;
}
/* JUMBO */
/* PRECIOS */
.aa {
  background-color: #7e42ff;
}
.prices__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  box-shadow: 0 0 13px -4px rgb(0 0 0 / 17%);
  border-radius: 10px;
}
.prices__card h3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}
.prices__card h2 {
  font-size: 3.5rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.prices__card h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.prices__card__divider {
  font-size: 0;
  line-height: 0;
  height: 1px;
  width: 100%;
  background: #e1e1e1;
  margin: 35px 0;
}
.prices__card__list {
  padding-bottom: 35px;
}
.prices__card__list li::before {
  position: relative;
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f00c";
  left: 0;
  top: 0;
  font-size: 1.4rem;
  color: #b1b0b0;
}
.prices__card__list li.--active::before {
  color: #7e42ff;
}
.prices__card__list li {
  font-size: 1.4rem;
  font-weight: 700;
  text-indent: -25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #b1b0b0;
}
.prices__card__list .--active {
  color: #302f2f;
}
.prices__card__button {
  background-color: #e7e7e9;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 700;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.3s ease;
}
.prices__card__button__a {
  color: black;
}
/* PRECIOS */

/* TABLETS */
@media (min-width: 768px) and (orientation: portrait) {
}
/* TABLETS */

/* PANTALLAS GRANDES */
@media (min-width: 1024px) {
  .prices__card__button:hover {
    cursor: pointer;
    background-color: #7e42ff;
  }
  .prices__card__button:hover > .prices__card__button__a {
    color: white;
  }
}
/* PANTALLAS GRANDES */
