.card__contact {
  .card__contact__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid $color-lightGray;
    padding-top: 20%;
    padding-bottom: 20%;
    transition: all 0.3s ease;
    min-height: 325px;

    i {
      font-size: 6rem;
      margin-bottom: 20px;
      color: $color-princ;
    }
    h3 {
      font-size: 1.8rem;
      text-align: center;
    }
  }
}

.form {
  .form__control {
    width: 100%;
    padding: 20px 10px;
    background-color: $color-lightGray;
    border: none;
    margin-bottom: 10px;
    font-size: 2rem;
  }
  ::placeholder {
    padding-left: 20px;
    font-weight: 600;
    font-size: 1.6rem;
  }
  textarea {
    margin-top: 20px;
    width: 100%;
  }
  .butn {
    color: $color-white;
  }
}

.map {
  width: 100%;

  iframe {
    width: 100%;
    height: 300px;
    filter: grayscale(1);
  }
}

/* TABLETS */
@media (min-width: 768px) and (orientation: portrait) {
}
/* TABLETS */

/* PANTALLAS GRANDES */
@media (min-width: 1024px) {
  .card__contact__item:hover {
    cursor: pointer;
    box-shadow: 0 0 20px -4px $color-shadow;
  }
}
/* PANTALLAS GRANDES */
