.mgt-60 {
  margin-top: 60px;
}
.mgb-60 {
  margin-bottom: 60px;
}
.mgt-30 {
  margin-top: 30px;
}
.mgb-30 {
  margin-bottom: 30px;
}
.row-mb30 > * {
  margin-top: 30px !important;
}

.pgt-30 {
  padding-top: 30px;
}
.pgb-30 {
  padding-bottom: 30px;
}
.pgt-60 {
  padding-top: 60px;
}
.pgb-60 {
  padding-bottom: 60px;
}
