$color-princ: #756aee;
$color_second: #352e81;
$color-white: white;
$color-black: black;
$color-black-50: rgba(0, 0, 0, 0.5);
$color-black-30: rgba(0, 0, 0, 0.3);
$color-link: rgb(26, 25, 25);
$color-lightGray: #b2b2b4;
$color-gray: rgb(85, 84, 84);
$color-darkGray: #302f2f;
$color-shadow: rgb(0 0 0 / 17%);
$color-bgIcon: #e9eaeb;
$color-footer-1: #0c0c0c;
$color-footer-2: #050505;

$img-jumbo-v1: "../img/jumbo/jumbo-index.jpg";
$img-jumbo-v2: "../img/jumbo/jumbo-nosotros.jpg";
